# Pandas Assignment Solution

***

In [15]:
import pandas as pd
import random

def rnadint_list(no_of_elements):
    return [random.randint(1,100) for _ in range(no_of_elements)]

In [4]:
import pandas as pd

data = [1,2,3,4,5,6]
index = ['a','b','c','d','e','f']
series = pd.Series(data, index=index)
print(series)

data = {
    '01':'A',
    '02':'B',
    '03':'C',
    '04':'D',
}
series = pd.Series(data=data)
print(series)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64
01    A
02    B
03    C
04    D
dtype: object

In [7]:
data = [
    {'name':'Dev', 'age':21, 'place':"Gnr"},
    {'name':'Chandler', 'age':32, 'place':"NY"},
    {'name':'john', 'place':"Shibuya"},
]

df = pd.DataFrame(data)
df

       name   age    place
0       Dev  21.0      Gnr
1  Chandler  32.0       NY
2      john   NaN  Shibuya

In [17]:
# Assi 1.1
data1 = {
    'c1':rnadint_list(6),
    'c2':rnadint_list(6),
    'c3':rnadint_list(6),
    'c4':rnadint_list(6),
}

df = pd.DataFrame(data=data1, index=data1['c1'])
df

    c1  c2  c3  c4
44  44  50  10  42
9    9  61  60  19
83  83  25  68  77
36  36  44  56  47
44  44  44  81  30
89  89  54  94  26

In [18]:
# Assi 1.2
data2={
    'A':rnadint_list(3),
    'B':rnadint_list(3),
    'C':rnadint_list(3)
}
index2=['X','Y','Z']

df2 = pd.DataFrame(data2,index=index2)
df2

    A   B   C
X  95  17  89
Y  36  11  81
Z  43  96  78

In [ ]:
# Assi 2