# <a id='toc1_'></a>[Module 3: Data Structures Assignments](#toc0_)

**Table of contents**<a id='toc0_'></a>    
- [Module 3: Data Structures Assignments](#toc1_)    
    - [Sorting list of dictionaries](#toc1_1_1_)    
    - [⭐Assignment 9](#toc1_1_2_)    
    - [Remove element from list using index](#toc1_1_3_)    
    - [```zip``` function](#toc1_1_4_)    
    - [⭐Assignment 13](#toc1_1_5_)    
    - [List Rotation](#toc1_1_6_)    
    - [⭐ Assignment 15](#toc1_1_7_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

***

In [1]:
# Assi 1
pos_nums = []
for i in range(1,21):
    pos_nums.append(i)

print(pos_nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
def rotate_list(lst, k):
    while k > 0:
        last_element = lst[len(lst)-1]
        lst.insert(0, last_element)
        lst.pop()
        k -= 1
    return lst
print(rotate_list([1,2,3,4,5],2))

[4, 5, 1, 2, 3]

In [6]:
# Assi 2
max_index = len(pos_nums) - 1
print(f"First: {pos_nums[0]}")
print(f"Middle: {pos_nums[int(max_index/2)]}")
print(f"Last: {pos_nums[max_index]}")

First: 1
Middle: 10
Last: 20

In [12]:
# Assi 3
print("First Five elements:")
print(pos_nums[0:5])

print("Last Five Elements: ")
print(pos_nums[max_index-4:])

print("Element from index 5 to 15: ")
print(pos_nums[5:16])

First Five elements:
[1, 2, 3, 4, 5]
Last Five Elements:
[16, 17, 18, 19, 20]
Element from index 5 to 15:
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [13]:
# Assi 4
sq_first10 = [x**2 for x in pos_nums[:10]]
print(sq_first10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
# Assi 5
even_num = [x for x in pos_nums if x%2==0]
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
# Assi 6
random_nums = [12,21,432,43,56,43,98,76,432,21,7]
print(random_nums)

random_nums.sort()
print(random_nums)

random_nums.reverse()
print(random_nums)

unique_nums = set(random_nums)
print(list(unique_nums))

[12, 21, 432, 43, 56, 43, 98, 76, 432, 21, 7]
[7, 12, 21, 21, 43, 43, 56, 76, 98, 432, 432]
[432, 432, 98, 76, 56, 43, 43, 21, 21, 12, 7]
[98, 7, 43, 76, 12, 432, 21, 56]

In [19]:
# Assi 7
matrix_3x3 = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

print(matrix_3x3)

print(matrix_3x3[1][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
6

***

### <a id='toc1_1_1_'></a>[Sorting list of dictionaries](#toc0_)

In [ ]:
sorted_desc_listofdict = sorted(list_of_dict, key=lambda x: x['keyname'], reverse=True)

***

In [3]:
# Assi 8
list_of_dict = [
    {
        "name":"Dev",
        "score":78,
    },
    {
        "name":"Jacob",
        "score":76,
    },
    {
        "name":"Chandler",
        "score":90,
    }
]

print(list_of_dict)

sorted_lst = sorted(list_of_dict,
                    key=lambda x:x['score'],
                    reverse=True)

print(sorted_lst)

[{'name': 'Dev', 'score': 78}, {'name': 'Jacob', 'score': 76}, {'name': 'Chandler', 'score': 90}]
[{'name': 'Chandler', 'score': 90}, {'name': 'Dev', 'score': 78}, {'name': 'Jacob', 'score': 76}]

### <a id='toc1_1_2_'></a>[⭐Assignment 9](#toc0_)

In [12]:
# Assi 9
def transpose(mat_3x3):
    transposed = []
    for i in range(len(mat_3x3[0])):
        t_row = [] 
        for j in range(len(mat_3x3)):
            t_row.append(mat_3x3[j][i])
        transposed.append(t_row)
    return transposed

matrix_3x3 = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

print("Original Matrix:\n",matrix_3x3)
print("Transposed Matrix:\n",transpose(matrix_3x3))

Original Matrix:
 [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Transposed Matrix:
 [[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [16]:
# Assi 10
def flatten(nested_lst):
    flat = []
    for lst in nested_lst:
        for item in lst:
            flat.append(item)
    return flat

nest_lst = [
    [1,2,3,11],
    [4,5,6,12],
    [7,8,9,14]
]

print("Original Nested List\n")
for row in nest_lst:
    print(row)

print("Flattened List\n")
print(flatten(nest_lst))

Original Nested List

[1, 2, 3, 11]
[4, 5, 6, 12]
[7, 8, 9, 14]
Flattened List

[1, 2, 3, 11, 4, 5, 6, 12, 7, 8, 9, 14]

***

### <a id='toc1_1_3_'></a>[Remove element from list using index](#toc0_)

In [24]:
my_list = [1,2,3,4,5]
print(my_list)

# M1
del my_list[1]
print(my_list)

# M2
my_list.pop(3)
print(my_list)

[1, 2, 3, 4, 5]
[1, 3, 4, 5]
[1, 3, 4]

***

In [28]:
# Assi 11
lst = [1,2,3,4,5,6,7,8,9,10]
print(lst)

for i in [6, 4, 2]:
    lst.pop(i)

lst.insert(5,99)

print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 4, 6, 8, 99, 9, 10]

***

### <a id='toc1_1_4_'></a>[```zip``` function](#toc0_)
Combines multiple lists as a tuple in a zip object, which you can convert into a list to get list of tuples

In [30]:
name = ['Dev', 'Chandler','joey']
age = [21,26,25]

zipped_data = zip(name, age)

list_of_tup = list(zipped_data)

print(list_of_tup)

[('Dev', 21), ('Chandler', 26), ('joey', 25)]

***

In [33]:
# Assi 12
hero = ['Thor', 'Bucky', 'Batman']
weapon = ['Mjolnir', 'Metal Arm', 'Money']

zipped = zip(hero, weapon)

list_of_tup = list(zipped)
print(list_of_tup)

[('Thor', 'Mjolnir'), ('Bucky', 'Metal Arm'), ('Batman', 'Money')]

***

### <a id='toc1_1_5_'></a>[⭐Assignment 13](#toc0_)
NOTE- list.reverse() is inplace so no need to return the value

***

In [38]:
# Assi 13

def lst_reverse(my_lst):
    my_lst.reverse()

my_lst = [12, 9, 87]
print("Original List: ", my_lst)

lst_reverse(my_lst)
print("Reversed List: ", my_lst)

Original List:  [12, 9, 87]
Reversed List:  [87, 9, 12]

***

### <a id='toc1_1_6_'></a>[List Rotation](#toc0_)

In [ ]:
def rotate_list(lst, n):
    return lst[n:] + lst[:n]

***

In [43]:
# Assi 14
def rotate_lst(lst:list,n:int):
    return lst[n:] + lst[:n]

my_lst = [1,2,3,4,5]
print("Original list: ", my_lst)
n = 1
rotated = rotate_lst(my_lst,n)
print(f"List rotated by n={2} is : ", rotated)

Original list:  [1, 2, 3, 4, 5]
List rotated by n=2 is :  [2, 3, 4, 5, 1]

***

### <a id='toc1_1_7_'></a>[⭐ Assignment 15](#toc0_)

***

In [46]:
# Assi 15 M1
def intersection(lst1, lst2):
    intersection_lst = []
    if len(lst1) >= len(lst2):
        for i in range(len(lst1)):
            if lst1[i] in lst2:
                intersection_lst.append(lst1[i])
    else:
        for i in range(len(lst2)):
            if lst2[i] in lst1:
                intersection_lst.append(lst2[i])

    return intersection_lst

lst1 = [1,2,3,4,5,6,87,99]
lst2 = [99, 87]

print(intersection(lst1, lst2))

[87, 99]

In [47]:
# Assi 15 M2
def inter(lst1, lst2):
    return [x for x in lst1 if x in lst2]

lst1 = [1,2,3,4,5,6,87,99]
lst2 = [99, 87]

print(intersection(lst1, lst2))

[87, 99]