## Lesson 3.2: Tuples

***

In [1]:
# Assi 1
tup1 = (1,2,3,4,5,6,7,8,9,10)
print(tup1)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [2]:
# Assi 2
first, *middle, last = tup1
print(f"{first}\n{middle}\n{last}")

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [6]:
# Assi 3
print(f"First three: {tup1[:3]}")
print(f"Index 2 to 5: {tup1[2:6]}")
print(f"Last three: {tup1[-3:]}")

First three: (1, 2, 3)
Index 2 to 5: (3, 4, 5, 6)
Last three: (8, 9, 10)

In [7]:
# Assi 4
tup4 = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print("Element at second row, third column\n", tup4[1][2])

Element at second row, third column
 6

In [8]:
# Assi 5
tup5 = (1,2,3) + (4,5,6)
print(tup5)

(1, 2, 3, 4, 5, 6)

In [2]:
# Assi 6
tup6 = (1,2,3,4,4,5)
print(tup6.count(4))
print(tup6.index(4))

2
3

In [3]:
# Assi 7
tup7 = ('Dev', 21, '25', 'October' ,'2004')
name, age, bday, bmonth, byear = tup7

print(f"Name: {name}\nAge:{age}\nBirthDate: {bday} {bmonth} of {byear}")

Name: Dev
Age:21
BirthDate: 25 October of 2004

In [4]:
# Assi 8
lst8 = [1,2,3,4,5]
tup8 = tuple(lst8)
print(tup8)

(1, 2, 3, 4, 5)

In [6]:
# Assi 9
tup9 = (
    (1,2,3),
    ('a', 'b', 'c'),
    (True, False, None)
)

print(tup9)

((1, 2, 3), ('a', 'b', 'c'), (True, False, None))

In [7]:
# Assi 10
tup10 = (1,2,3,4,5)
print("Tuple: ",tup10)

lst10 = list(tup10)
lst10.append(6)
print("List: ", lst10)

tup10 = tuple(lst10)
print("New Tuple: ",tup10)

Tuple:  (1, 2, 3, 4, 5)
List:  [1, 2, 3, 4, 5, 6]
New Tuple:  (1, 2, 3, 4, 5, 6)

In [ ]:
# Assi 11
tup11 = ('C', 'h', 'a', 'n', 'd', 'l', 'e', 'r')
print("Tuple: ", tup11)
str11 = "".join(tup11)
print("String: ", str11)

Tuple:  ('C', 'h', 'a', 'n', 'd', 'l', 'e', 'r')
String:  Chandler

In [12]:
# Assi 12
dict12 = {
    ('Dev', 21): 68,
    ('Chandler', 26): 71,
}
print(dict12)

{('Dev', 21): 68, ('Chandler', 26): 71}

In [14]:
# Assi 13
tup13 =(
    (1,2,3,4,5),
    (6,7,8,9,10)
)

for sub_tuple in tup13:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3 4 5
6 7 8 9 10

In [19]:
# Assi 14
tup14 = ('a', 'b', 'a', 'd', 'f', 'd')
set14 = set(tup14)
print((set14))

{'f', 'd', 'a', 'b'}

In [24]:
# Assi 15
def min_max_sum(tup: tuple):
    res = f"Minimum: {min(tup)}\nMaximum: {max(tup)}\nSum: {sum(tup)}"
    return res

tup15 = tuple([x**2 for x in range(32,38)])
print("Tuple: ",tup15)
print(min_max_sum(tup15))

Tuple:  (1024, 1089, 1156, 1225, 1296, 1369)
Minimum: 1024
Maximum: 1369
Sum: 7159